.movie-container{
  width: 100%;
  min-height: 200px;
  background-size: cover !important;
  margin-bottom: 20px;
  position: relative;
  text-align: center;
}

.movie-link{
  width: 22%;
  margin: 0 1%;
}

.pagination{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.active{
  font-weight: bold;
}

.title{
  text-align: center;
}

.active a{
  color: rgb(255, 158, 158);
}

.pagination li{
  padding: 0;
}

.pagination a{
  padding: 0 10px;
}

.nav ul{
  margin-top: 20px;
}

.container{
  flex-wrap: wrap;
}

.movie-data{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(24, 24, 24, 0.8);
  padding: 5px;
  backdrop-filter: blur(20px);
  align-items: center;
}

@media (max-width: 1000px){
  .movie-rating{
    display: none;
  }
  .movie-link{
    width: 30%;
  }
}

@media (max-width: 800px){
  .movie-link{
    width: 45%;
  }
}

@media (max-width: 500px){
  .movie-link{
    width: 90%;
  }

  .container{
    justify-content: center !important;
  }
}