.movie-container{
  width: 24%;
  min-height: 200px;
  background-size: cover !important;
  margin-bottom: 20px;
  position: relative;
  text-align: center;
}

.pagination{
  display: flex;
  justify-content: center;
}
.active{
  font-weight: bold;
}

.title{
  text-align: center;
}

.active a{
  color: rgb(255, 158, 158);
}

.pagination li{
  padding: 0;
}

.pagination a{
  padding: 0 10px;
}

.nav ul{
  margin-top: 20px;
}

.container{
  flex-wrap: wrap;
}

.movie-data{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(24, 24, 24, 0.8);
  padding: 5px;
  backdrop-filter: blur(20px);
  align-items: center;
}